<div class="header">
  <button mat-button color="primary">Live Chat</button>
  <button mat-button color="primary" (click)="logout()">Logout</button>
</div>
<div class="page-content">
  <div class="left-side">
    <h2>Available Courses</h2>
    <div
      class="course-tile"
      *ngFor="let course of coursesList"
      (click)="selectCourse(course)"
    >
      {{ course.name }}
      <div class="credits" matTooltip="Number of credits">
        {{ course.credits }}
      </div>
    </div>
  </div>
  <div class="right-side" *ngIf="courseSelected">
    <form >
      <input
        type="file"
        class="file-input"
        (change)="onFileSelected($event)"
        #fileUpload
      />
      <div class="file-upload">
        {{ fileName || "No file uploaded yet." }}

        <button
          mat-mini-fab
          color="primary"
          class="upload-btn"
          (click)="fileUpload.click()"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
