@import "src/styles/colors";
@import "src/styles/mixins";

.page-content {
  height: 92%;
  display: flex;
  flex-direction: row;

  .left-side {
    @include left-menu;

    .course-tile {
      cursor: pointer;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;
      margin-bottom: 10px;
      color: $dark-grey;
      font-weight: bold;
      font-size: 16px;

      &.selected {
        background-color: rgb(250, 241, 231);
      }

      &:hover {
        background-color: rgb(250, 241, 231);
      }

      .credits {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        background-color: $yellow;
        color: white;
      }
    }
  }

  .right-side {
    width: 80%;

    .no-course-selected {
      @include no-results-container;

      h2 {
        @include no-results-message;
      }
    }

    .course-selected {
      height: 100%;
      overflow-y: scroll;
      .course-details {
        margin-top: 10px;
        .course-header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          height: 60px;
          background-color: white;
          padding: 0 20px;
          box-shadow: 7px 7px 2px 1px rgba(238, 237, 188, 0.2);

          p {
            font-size: 17px;
            font-weight: 500;
            height: 35px;
            display: flex;
            align-items: center;
          }

          .teacher {
            background-color: $purple;
            color: white;
            padding: 10px;
          }

          .course {
            background-color: $pink;
            color: white;
            padding: 10px;
          }
        }
      }

      .files-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .resources {
          font-size: 17px;
          color: $dark-grey;
          padding-left: 20px;
          padding-top: 20px;

          .title {
            padding-bottom: 20px;
            font-weight: 600;
          }

          .resource {
            display: flex;
            flex-direction: row;

            img {
              margin-left: 20px;
              width: 25px;
              height: 25px;
              cursor: pointer;
            }
          }
        }

        button {
          height: 35px;
          margin-top: 20px;
          margin-right: 20px;
          font-size: 16px;
        }
      }

      .rainbow-border {
       @include rainbow-bordre-style;
      }
    }
  }
}

.navigate {
  cursor: pointer;

  &:hover {
    color: $light-grey !important;
  }
}


.thesis-page {
  width: 100%;
}

.courses-container {
  height: 100%;
}
