<div class="page-content">
  <div class="left-side">
    <h2>Available Courses</h2>
    <div
      *ngFor="let course of coursesList"
      [ngClass]="{ selected: course?.name === selectedCourse?.name }"
      (click)="selectCourse(course)"
      class="course-tile"
    >
      {{ course.name }}
      <div class="credits" matTooltip="Number of credits">
        {{ course.credits }}
      </div>
    </div>
  </div>

  <div class="right-side">
    <div *ngIf="!courseSelected" class="no-course-selected">
      <img src="../../../../assets/select-course.png" alt="" />
      <h2>Please select a course</h2>
    </div>

    <div *ngIf="courseSelected" class="course-selected">
      <div class="course-details">
        <div class="course-header">
          <p class="course">
            {{ selectedCourse.name }} ({{ selectedCourse.credits }} credits)
          </p>
          <p class="teacher">{{ selectedCourse.teachername }}</p>
        </div>
      </div>

      <div class="files-section">
        <div class="resources">
          <div class="title">Resources</div>
          <div class="resource" *ngFor="let res of resourcesList">
            <p [routerLink]="['file-details']">{{res}}</p>
            <img src="../../../../assets/preview.png" alt="" />
          </div>
        </div>
        <button mat-button color="primary" [routerLink]="['upload']">Upload project</button>
      </div>
      <div class="rainbow-border"></div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
