<div class="upload-files" [ngClass]="{'centered': userType==='teacher'}">
  <div class="upload-form">
    <div class="page-title">
      Upload your
      <span *ngIf="userType === 'teacher'">resource</span>
      <span *ngIf="userType === 'student'">assignment</span>
    </div>
    <form (ngSubmit)="onSubmit()">
      <label for="actual-btn">Choose file</label>
      <input
        #selectedDoc
        (change)="changeSelectedFile($event)"
        id="actual-btn"
        type="file"
        accept="application/pdf"
        hidden
      />
      <span id="file-chosen" *ngIf="noFileSelected">No file chosen</span>
      <div class="file-name" *ngIf="!noFileSelected">{{ fileName }}</div>
      <button mat-button color="accent" type="submit">Upload file</button>
    </form>
  </div>

  <div class="projects-list" *ngIf="userType === 'student'">
    <p class="page-title">Your projects</p>
    <div class="project" *ngFor="let project of projectsList">
      <img src="../../../../assets/project.png" alt="">
      <div>{{project}}</div>
    </div>
  </div>
</div>
