@import "src/styles/colors";
@import "src/styles/mixins";

.login-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  mat-card {
    @include rainbow-shadow;
    width: 400px;
    padding: 30px;

    mat-card-header {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;
      mat-card-title {
        .hello {
          margin-left: 36%;
          padding-bottom: 20px;
        }
        color: $dark-grey;
        font-size: 28px;
      }
    }

    .inputs-container {
      form {
        display: flex;
        flex-direction: column;

        mat-form-field {
          ::ng-deep {
            .mat-form-field-wrapper {
              margin-bottom: 16px;
            }
          }
        }

        button {
          background-color: $pink;
        }
      }
      .register-btn {
        width: 100%;
        margin-top: 16px;
        color: $pink;
      }
    }
  }
}
