@import "src/styles/colors";
@import "src/styles/mixins";

.chat-page {
  height: 92%;
  display: flex;
  flex-direction: row;

  .people-container {
    @include left-menu;

    .username {
      display: flex;
      padding: 10px;

      &:hover {
        background-color: $beige;
        cursor: pointer;
      }
      img {
        width: 20px;
        height: 20px;
        padding-right: 10px;
      }
    }
  }
}

.no-active-chat {
  @include no-results-container;
  width: 80%;

  .message {
    @include no-results-message;
  }
}
