<div class="chat-page">
  <div class="people-container">
    <form [formGroup]="searchForm" (ngSubmit)="searchPeople()" class="search-form">
      <input type="text" placeholder="Search..." formControlName="search">
      <button type="submit">
        <img src="../../../../assets/search.png" alt="">
      </button>
    </form>
    <div
      class="username"
      [ngClass]="{ selected: user?.iduser === selectedUser?.iduser }"
      *ngFor="let user of displayUsers"
      (click)="selectUser(user)"
    >
      <img src="../../../../assets/user.png" alt="" />
      {{ user.name }}
    </div>
  </div>
  <div *ngIf="!isUserSelected" class="no-active-chat">
    <img src="../../../../assets/select-course.png" alt="" />
    <div class="message">Nothing selected</div>
    <div class="message">Select a user and start chatting</div>
  </div>
  <div *ngIf="isUserSelected" class="active-chat">
    <div class="message-container">
      <div class="chat-header">
        <img src="../../../../assets/user.png" alt="" />
        <span>{{ selectedUser.name }}</span>
      </div>

      <div class="no-msg" *ngIf="receivedMessages.length === 0">
        <img src="../../../../assets/no-message.png" alt="" />
        <span>No messages with {{ selectedUser.name }}, yet</span>
      </div>

      <div class="yes-msg" *ngIf="receivedMessages.length > 0">
        <div
          *ngFor="let receivedMsg of receivedMessages"
          class="sent-message"
          [ngClass]="{
            'received-message': receivedMsg.from !== currentUserId
          }"
        >
          <div class="message">
            {{ receivedMsg.msg }}
          </div>
          <div class="date">
            {{receivedMsg.date | date: 'short'}}
          </div>
        </div>
        <!-- <div *ngFor="let sentMsg of sentMessages" class="sent-message">
        {{sentMsg}}
      </div> -->
      </div>
      <div class="send-message">
        <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
          <mat-form-field>
            <mat-label>Type a message here...</mat-label>
            <input matInput formControlName="msg" />
          </mat-form-field>

          <button type="submit">
            <img src="../../../../assets/send.png" alt="Send" />
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
