<div class="file-details-container">
  File preview

  <div class="pdf-container">
    <pdf-viewer
      [src]="src"
      [original-size]="false"
      class="pdf-preview"
    ></pdf-viewer>
    <div class="comments">
      <h2>Comments</h2>
      <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
        <mat-form-field>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            placeholder="New comment"
            formControlName="comment"
          ></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Add</button>
      </form>
    </div>
  </div>
</div>
