<div class="file-details-container">
  <p>File Preview</p>

  <div class="pdf-container">
    <pdf-viewer
      [src]="src"
      [original-size]="false"
      class="pdf-preview"
    ></pdf-viewer>
    <div class="comments">
      <h2>Comments</h2>
      <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
        <mat-form-field>
          <textarea
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="5"
            placeholder="New comment"
            formControlName="comment"
          ></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Add</button>
      </form>
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <div class="comments-list" *ngIf="!isLoading">
        <div class="comment" *ngFor="let comment of commentsList">
          <div class="title">
            <div class="username">{{ comment.username | uppercase }}</div>
            <div class="date">said on {{ comment.date | date: 'dd-MM-yyy' }} :</div>
          </div>
          <div class="content">
            <div *ngIf="!comment.isEditMode" class="not-editable">{{ comment.message }}</div>
            <input mat-input *ngIf="comment.isEditMode" (focusout)="onFocusOut(comment)" [(ngModel)]="comment.message" type="text">
          </div>
          <div class="buttons" *ngIf="comment.userId === currentUserId">
           <img src="../../../../assets/edit.png" (click)="editComment(comment)" />
            <img src="../../../../assets/trash.png" (click)="deleteComment(comment)" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
